# dependencies
/node_modules

# claude
.claude

# next.js
/.next/
/out/

# production
/build

# env files
.env
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
